@charset "EUC-KR";

body{
	width:100%;
	height:100%;
	background-image:url('img/result_bg2.png');
	background-repeat:no-repeat; 
	background-position: center top; 
}
.resultcha{
	float:right;
	width:589px;
	top : 100px;
	margin-right : 150px;
	margin-top : 150px;;
}
.colorimg {
	margin-top:15vw;
}

#btn1{
	padding:25px 40px;
	border-radius: 60px;
	background-color: #fcf8f5;
	color:#898989;
	border : 0px;
	width : 100%;
	display : flex;
	font-size:20px;
	font-family: 'Noto Sans', sans-serif;
	box-shadow: 0px 0px 20px #c8c8c8;
}

#btn2{
	position:relative;
	padding:10px 10px;
	width : 30%;
	border-radius: 40px;
	background-color: #d92c45;
	color:#ffffff;
	border : 0px;
	font-size:16px;
	font-family: 'Noto Sans', sans-serif;
	float:right;
	box-shadow: 0px 0px 20px #c8c8c8;
	margin-top : 10px;
}

.photoImage{
	width : 300px;
	margin:20px auto 3px auto;
	height:218px;
}
.resulttable{
	margin-bottom:50px;
	display:table;
}
.hptable{
	margin:auto 30px;
	float:left;
	box-shadow: 0px 0px 7px #aaaaaa;
	BOrder-RADIUS : 10%;
	padding:30px;
	text-align : center;
	bottom : 100px;
}
.local{
	font-family: 'Noto Sans KR', sans-serif;
	font-size : 23px;
	font-weight:600;
	color : #18474d;
	margin : 15px auto;
	display:inline-block;
	float:left;
}
.tag{
	margin-bottom:50px;
	color : #18474d;
	text-align : left;
}
.btn{
	margin-top : 70px;
	float:right;
	padding:15px 10px;
	border-radius: 40px;
	background-color: #d92c45;
	color:#ffffff;
	border : 0px;
	font-size:16px;
	font-family: 'Noto Sans', sans-serif;
	box-shadow: 0px 0px 20px #c8c8c8;
}
.gohp{
	float:right;
	margin-top : 50px;
}
div{
	margin:0 auto;
}
.td .img{
	width : 100%;
	height : 100%;
	float:left;
	position: relative;
}
.ic{width:15%;}
.colorimgtbl{
	width : 80%;
	margin : 0 auto;
}
.td{
	width : 50%;
    margin: 20px;
	height : 170px;
}.exp{
	font-size : 16px;
}